.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.container{
  background-color: rgb(29, 32, 75);
  border-radius: 15px;
  height: 30rem;
  width: 25rem;

}
.activities{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

